*.pdf
*.tstp
*.aux
*.log
*/.lunatikz/dep_cache
*/.lunatikz/subfix_cache
*.bcf
*.bbl
*.blg
*.run.xml
*/**/icon/*.png
*/**/icon/*.svg
emcu/build/*
emcu/sdkconfig.old
emcu/sdkconfig.ci.esp32c2_xtal26m
misc
report/sig
