logo/**/*.pdf
report/*.pdf
*/chapter_*/*.pdf
*/chapter_*/section_*/*.pdf
*/tikzpics/**/*.pdf
*/chapter_*/tikzpics/**/*.pdf
*/chapter_*/section_*/tikzpics/**/*.pdf
*.tstp
*.aux
*.log
*/.lunatikz/dep_cache
*/.lunatikz/subfix_cache
*.bcf
*.bbl
*.blg
*.run.xml
*/**/icon/*.png
*/**/icon/*.svg
misc
report/sig
*_standalone_*.tex
